.canvas-cont {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  max-height: 90%;
  }

.chip-studies {
  font-size: 17px !important;
  color: #ffd700 !important;
}

.chip-animate-hover {
  cursor: default;

  &:hover {
    animation: headShake 1s;
  }
}

  .img-certificate{
    float: left;
    margin-top: 4px;  
  }
  
  @media screen and (max-width: 1200px) {
    .canvas-cont {
      width: 100%;
      position: static;
      transform: none;
      
      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }